// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.pills_pouches {
  height: 800px;
  background: url('/assets/pouch_pill_cookie.png');
  background-size: 100% 100%;
  
  div#essentials_kit {
  width: 410px;
  height: 400px;
  background-color: #fcfaf6;
  border-radius: 5px 5px 0px 0px;
  float: right;
  margin-top: 180px;

    h1, h3, h4 {
      text-align: center;
    }

    h1 {
      color: #fe7d6f;
      font-weight: 200;
    }

    h3, h4, ul {
      color: #a37c64;
    }

    ul.essentials_kit_list {
      list-style-type: none;
    }
    
    p#quantity {
      color: #a37c64;
      text-align: center;

      
    }
  
    div.subscribe_box {
      margin-left: 50px;
      width: 310px;
      border-radius: 5px;
      border: 1px solid #a37c64;
      border-width: .02em;
      margin-top: 30px;
      text-align: center;
      font-size: 20px;
      background-color: white;

      input[type="checkbox"] {
        display:inline-block;
        width:30px;
        height:30px;
      }

      label {
        font-weight: 200;
        color: #a37c64;

        img {
          margin-top: -5px;
        }
      }
    }

    div.buy_button {
      margin-top: 30px;
      width: 410px;
      height: 60px;
      line-height: 60px;
      border-radius: 0px 0px 5px 5px;
      background-color: #ff503e;
      text-align: center;
      vertical-align: center;
      color: white;
      font-size: 20px;
      font-weight: 500;
    }
  }
}

select#quantity_selector {
        // background: transparent;
        width: 80px;
        padding: 5px;
        font-size: 16px;
        line-height: 1;
        border: 1;
        border-width: 1px;
        border-color: #a37c64;
        height: 34px;
        border-radius: 5px;
      }




.essence_section {
  background-color: #f9f5e9;
  height: 400px;
  width: 100%;
}

ul.mag_listing {
  display: inline;
  list-style-type: none;
  padding-left: 90px;

  
  li {
    display: inline;
    padding-left: 20px;
  }
}

h1#essence_title {
  text-align: center;
  color: #d72e15;
  font-weight: 200;
}

p#essence_body {
  text-align: center;
  color: #b4764e;
}

ul.essence_plus_lists {
  list-style-type: none;
  color: #d72e15;
  font-weight: 300;
}

ul.benefits_listing {
  display: inline;
  list-style-type: none;

  li {
    // line-height: 100px;
    display: inline-block;
    vertical-align: top;
    color: #a37c64;
    padding-left: 40px;
  }

  span {
    text-align: center;
  }
}

// 
// RED PAGE BREAK 
// 

div.page_break_one {
  padding-top: 40px;
  height: 200px;
  width: 100%;
  text-align: center;
  background-color: #d33317;
  font-size: 36px;
  color: white;
}

// 
// SUPPLEMENTS AND FACTS SECTION
// 
div.packet_supplements {
  position: relative;
  height: 1200px;

// ESSENTIALS HEADER
  h1 {
    color: #d72e15;
    font-weight: 200;
    text-align: center;
    padding-top: 30px;
  }

// 
// GREEN CIRCLE IMAGE AND FACTS DIV
  div#green_circle_facts {
    float: right;
    padding-top: 100px;
    height: 570px;

  h2, h4 {
    text-align: center;
  }

  h4#packets {
    color: #708a17;
    font-weight: 300;
  }

  h2#daily_greens {
    margin-top: 10px;
    color: #708a17;
  }

  h4#green_powders {
    color: #708a17;
    font-weight: 200;
  }

  h4#high_quality {
    color: #b4764e;
    font-weight: 200;
  }

  h4#learn_more {
    color: #fc5021;
    font-weight: 300;
    text-decoration: underline;
  }

  h4.supplement_facts_label {
    padding-top: 20px;
    color: #fc5021;
    // text-decoration: underline;

  }

    ul#boxes {
  display: inline;
  list-style-type: none;

    li {
      border: 1px;
      display: inline-block;
      vertical-align: top;
      text-align: center;
      line-height: 20px;
      color: white;
      
    }
      span#original {
        display: inline-block;
        background-color: #609a1a;
        text-align: center;
        line-height: 20px;
        width: 140px;
        border-radius: 2px;
      }
      span#chocolate {
        display: inline-block;
        background-color:  #9c4b29;
        text-align: center;
        line-height: 20px;
        width: 140px;
        border-radius: 2px;
      }
      span#berry {
        display: inline-block;
        background-color: #9c094e;
        text-align: center;
        line-height: 20px;
        width: 140px;
        border-radius: 2px;
      }
    }
  }

// 
// ORANGE CIRCLE AND FACTS DIV
  div#orange_circle_image {
    float: right;
  }

  div#orange_circle_facts {
    padding-top: 90px;

    h2, h3, h4 {
      text-align: center;
    }

    h4#packets {
      color: #fc6821;
      font-weight: 200;
    }

    h2#foundation {
      margin-top: 10px;
      color: #fc6821;
    }

    h4#daily_nutrients {
      color: #ab8357;
      font-weight: 300;
    }

    h3#nature_made {
      color: #ab8357;
      font-weight: 300;
    }

    h4#learn_more {
    color: #fc5021;
    font-weight: 300;
    text-decoration: underline;
  }

  h4.supplement_facts_label {
    padding-top: 20px;
    color: #fc5021;
    }
  }
}

// PAGE BREAK TWO YELLOW

div.page_break_two {
  height: 170px;
  background-color: #fbc12d;
  position:relative;
  text-align: center;
  color: white;

  p#why_wait {
    font-weight: 200;
    font-size: 36px;
    padding-top: 70px;
  }
}